.messages {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  margin: 5px 0;
  width: 80%;
  background: #f8f8f8;
  padding: 20px;
}

.message span {
  width: 33.33%;
}

.deleteButton {
  align-self: center;
  border: none;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background: #E10827;
  border-radius: 2px;
}

.editButton {
  align-self: center;
  border: none;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background: #333;
  border-radius: 2px;
}
