.sidebar {
  background-color: #292929;
  color: #FFFFFF;
  padding: 10px;
}

ul.sidelinks {
  list-style: none;
  padding-left: 0;
}

ul.sidelinks li {
  padding-bottom: 100px;
}

ul.sidelinks li a {
  color: #FFFFFF;
  text-decoration: none;
}
