.formContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  height: 80%;
}

.formContainer h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

button.submitButton {
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  color: #FFFFFF;
  background-color: #E10827;
}
