@import '../../main.css';

.message {
  width: 80%;
  padding: 20px 10px;
  margin-bottom: 5px;
  border-radius: var(--app-radius);
  color: var(--main-white);
  background-color: var(--main-red);
}

.hidden {
  display: hidden;
  visibility: none;
}
