.container {
  display: flex;
  flex-direction: column;
}

.container h2 {
  text-transform: uppercase;
}

.reload {
  width: 70px;
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  background-color: #E10827;
}

.messages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
