.container {
  display: flex;
  flex-direction: column;
}

.reload {
  width: 70px;
  margin: 20px 0;
  padding: 10px;
  color: #FFFFFF;
  background-color: #E10827;
}

.messages {
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
}
