@import '../../main.css';

.container {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: row;
}

.heading h1 {
  text-transform: uppercase;
  margin-right: 10px;
}

.reload {
  width: 70px;
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-radius: var(--app-radius);
  color: var(--main-white);
  background-color: var(--main-red);
}
