.sidebar {
  padding: 10px;
  background-color: #292929;
  color: #FFFFFF;
}

ul.sidelinks {
  padding-left: 0;
  list-style: none;
}

ul.sidelinks li {
  padding-bottom: 100px;
}

ul.sidelinks li a {
  color: #FFFFFF;
  text-decoration: none;
}
